.header1{
    display: flex;
    justify-content: space-between;
}
.scores{
background-color: pink;
display: flex;
}
.time{
    background-color: green;
    display: flex;
}
.description1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:200px;
    background-color: yellow;

}
.description1-h1{
    display: flex;
    align-items: center;
}
.description1-p{
    display: flex;
    align-items: center;
}
.around-button{
background-color: brown;
display: flex;
justify-content: center;
}

.started1{
    background-color: blue;
  display: flex;
    background-color: aqua;
}


.around-button2{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .started2{
        background-color: blue;
        display: flex;
          background-color: aqua;
        }
        .around-button3{
            background-color: brown;
            display: flex;
            flex-direction: row;
            justify-content: center;

            }
            .started3{
                background-color: blue;
                display: flex;
                background-color: aqua;
                }
                .correct1{
                    
                }